@use './../../Style/variable.scss' as *;
@use 'sass:color';

// Component styles

.general-container {
  padding: 20px;
  color: var(--text-color);
  background-color: var(--background-color);
  font-family: $font-family;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--primary-color);
}

.select-year {
  margin-top: 10px;

  label {
    margin-right: 10px;
    font-weight: bold;
  }

  select {
    width: 300px;
    padding: 5px 10px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background-color: var(--background-color);
    color: var(--text-color);
    &:hover {
      border-color: var(--hover-color);
    }
  }
}

.tooltip {
  background-color: var(--background-color);
  padding: 10px;
  border: 1px solid var(--border-color);
  font-size: 12px;
  color: var(--text-color);
  box-shadow: 4px 4px 8px 8px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}
