// Members.module.scss
@use 'sass:color';
@use './../../Style/variable.scss' as *;
// @import './../../Style/variable.scss';

.container {
  padding: $padding;
  font-family: $font-family;
  color: $text-color;

  .search-bar {
    display: flex;
    gap: $margin;
    margin-bottom: $margin;

    input,
    select {
      flex: 1;
      padding: 8px;
      border: 1px solid $border-color;
      border-radius: 4px;

      @media (max-width: 650px) {
        padding: 4px;
      }
    }

    button {
      background-color: $secondary-color;
      color: white;
      border: none;
      border-radius: 4px;
      padding: 8px;
      cursor: pointer;

      &:hover {
        background-color: color.scale($secondary-color, $lightness: -10%);
      }

      @media (max-width: 650px) {
        padding: 4px;
      }
    }
  }

  .advanced-search {
    background-color: color.scale($background-color, $lightness: 20%);
    padding: $padding;
    margin-bottom: $margin;
    // border: 1px solid $border-color;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    p {
      margin-bottom: $padding;
      font-weight: bold;
    }

    select,
    input {
      margin-bottom: $padding;
      width: min-content;
      padding: $padding;
      border: 1px solid $border-color;
      border-radius: 4px;
    }

    button {
      margin-top: $padding;
    }
  }

  .members-list {
    display: flex;
    flex-direction: column;
    // gap: $margin;

    .member-row {
      display: grid;
      grid-template-columns: 1.3fr 0.6fr 1.1fr 0.8fr 0.8fr;
      gap: 10px;
      align-items: center;
      justify-content: space-between;
      // background-color: color.adjust($background-color, $lightness: 5%);
      border-bottom: 0.01px solid $border-color;
      // border-radius: 4px;
      padding: 0.5rem 1rem;
      cursor: pointer;

      &:hover {
        background-color: color.scale($background-color, $lightness: 5%);
      }

      h3 {
        font-size: 18px;

        @media (max-width: 768px) {
          font-size: 13px;
        }
      }

      p {
        margin: 0;
        @media (max-width: 768px) {
          font-size: 10px;
        }
      }
    }

    .header {
      background-color: var(--primary-color);
    }
  }

  .paid {
    border-right: solid 2px var(--primary-color) !important;
  }

  // .pagination {
  //   display: flex;
  //   justify-content: center;
  //   margin-top: $margin;
  //   overflow-y: scroll;

  //   button {
  //     margin: 0 5px;
  //     padding: $padding;
  //     border: 1px solid var(--primary-color);
  //     border-radius: 60%;
  //     background-color: white;
  //     cursor: pointer;

  //     @media (max-width: 650px) {
  //       padding: 4px;
  //       margin: 0 3px;
  //     }

  //     &:disabled {
  //       background-color: var(--primary-color);
  //       color: white;
  //       cursor: not-allowed;
  //     }
  //   }
  // }
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
