@use './../../Style/variable.scss' as *;
@use 'sass:color';

$form-bg-color: color.scale(#010e30, $lightness: 15%);
$input-border-color: #ddd;
$button-hover-color: darken($primary-color, 10%);

.formContainer {
  max-width: 800px; // Increase max-width for larger screens
  margin: 0 auto;
  padding: 20px;
  background-color: $form-bg-color;
  border-radius: $border-radius;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.formTitle {
  text-align: center;
  font-size: 1.5rem;
  color: $primary-color;
  margin-bottom: 20px;
}

.form {
  display: grid; // Use grid layout
  grid-template-columns: 1fr 1fr; // Default to single column
  gap: $spacing-medium;

  @media (max-width: 768px) {
    grid-template-columns: 1fr; // Two columns for tablets and larger screens
  }
}

.label {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  color: $text-color;
}

.input,
.textarea {
  color: color.scale($text-color, $lightness: -60%);
  padding: $spacing-small;
  border: 1px solid $input-border-color;
  border-radius: $border-radius;
  font-size: 1rem;
}

.textarea {
  resize: vertical;
}

.submitButton {
  grid-column: span 2; // Button spans across both columns
  padding: $spacing-small;
  border: none;
  background-color: $primary-color;
  color: $light-color;
  border-radius: $border-radius;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;

  &:hover {
    background-color: $button-hover-color;
  }

  @media (max-width: 768px) {
    grid-column: span 1;
  }
}

.imagePreview {
  max-width: 100px;
  max-height: 100px;
  margin-top: 10px;
}
.error {
  color: $error-color;
  font-size: 0.7rem;
}
