/* PaymentsList.module.scss */
@use './../../Style/variable.scss' as *;
@use 'sass:color';
.paymentsContainer {
  min-width: 300px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: color.scale($background-color, $lightness: -10%);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.yearGroup {
  padding: 10px;
  background-color: color.scale($background-color, $lightness: 5%);
  border: 2px solid $border-color;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.yearTitle {
  font-size: 1.2rem;
  font-weight: bold;
  color: $text-color;
  border-bottom: 2px solid #777;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.paymentItem {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  margin: 5px 0;
  border-left: 4px solid $primary-color;
  background-color: color.scale($background-color, $lightness: 10%);
  border-radius: 4px;
}

.paymentItem p {
  margin: 5px 0;
  font-size: 0.6rem;
  color: $primary-color;

  @media (min-width: 700px) {
    font-size: 0.8rem;
  }
}

.paymentItem strong {
  color: $text-color;
}
