@use './variable.scss' as *;
@use './theme' as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: $font-family;
}

input {
  background-color: rgb(213, 213, 213);
}

a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit text color from parent */
}
