@use 'sass:color';

$primary-color: #4caf50;
// #007bff;
$secondary-color: #1877f2;
$hover-color: darken($primary-color, 10%);
$text-color: rgb(210, 234, 255);
$font-family: 'Arial, sans-serif';
$background-color: color.scale(#010e30, $lightness: 5%);
$border-color: #ddd;
$error-color: #e74c3c;
$light-color: #ffffff;
$dark-color: #333333;

$spacing-small: 8px;
$spacing-medium: 15px;
$spacing-large: 20px;

$border-radius: 4px;
$padding: 10px;
$margin: 10px;
