@use 'sass:color';

$primary-color: #4caf50;
// NOTE LET REMOVE BLUE COLOR WITH GREEN
// $secondary-color: #1877f2;
$secondary-color: $primary-color;

$hover-color: color.scale($primary-color, $lightness: -10%);
// $text-color: #d2eaff;
$text-color: hwb(0 1% 99%);
$font-family: 'Arial, sans-serif';
// $background-color: color.scale(#010e30, $lightness: 5%);
$background-color: color.scale(#fff, $lightness: 5%);
// $border-color: #ddd;
$border-color: #323232;
$error-color: #e74c3c;

$spacing-small: 8px;
$spacing-medium: 15px;
$spacing-large: 20px;

$border-radius: 4px;
$padding: 10px;
$margin: 10px;
