.dashboard-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    text-decoration: none;
    margin: 8px 0;
    color: #4d4d4d;
    transition: color 0.3s ease;

    &:hover {
      color: #007bff;
    }

    h5 {
      margin: 0;
      font-size: 1.2rem;
      font-weight: 500;
    }
  }

  @media (max-width: 700px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    a {
      margin: 0 8px;
    }
  }
}

.active {
  background-color: red;
  color: #4caf50; // Active link color
  font-weight: bold; // Make the active link stand out
  text-decoration: underline; // Optional: add underline for emphasis
}
