.dashboard-navigation {
  display: flex;
  flex-direction: column; // Default layout: column
  align-items: center; // Center the items

  a {
    text-decoration: none; // Remove underline from links
    margin: 8px 0; // Space between links
    color: #4d4d4d; // Link color
    transition: color 0.3s ease; // Smooth color change on hover

    &:hover {
      color: #007bff; // Change color on hover
    }

    h5 {
      margin: 0;
      font-size: 1.2rem; // Adjust font size
      font-weight: 500;
    }
  }

  @media (max-width: 590px) {
    flex-direction: row; // Change to row layout for smaller screens
    flex-wrap: wrap;
    justify-content: space-evenly; // Evenly space links horizontally

    a {
      margin: 0 8px; // Adjust spacing for horizontal layout
    }
  }
}
