@use 'sass:color';
@use './../Style/variable.scss' as *;
@use './../Style/theme' as *;

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background-color: var(--background-2-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  z-index: 50;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: $primary-color;
  cursor: pointer;

  &:hover {
    color: var(--hover-color);
  }
}

.hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 5px;
}

.navLinks {
  display: flex;
  gap: 15px;
  list-style: none;
  align-items: center;
}

.navItem a,
.navItem button {
  text-decoration: none;
  font-size: 1rem;
  color: var(--text-color);
  padding: 5px 10px;
  border: none;
  background: none;
  cursor: pointer;

  &:hover {
    color: var(--hover-color);
  }
}

.currentUser {
  display: flex;
  align-items: center;
  background:var(--background-2-color);
  padding: 8px 12px;
  border-radius: 8px;
  gap: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    background:var(--background-2-color);
  }
}

.profileImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--border-color);
}

.userInfo {
  display: flex;
  flex-direction: column;
}

.username {
  font-weight: bold;
  font-size: 14px;
  color: var(--text-color);
}

.role {
  font-size: 12px;
  color: var(--background-2-color);
}

.logoutButton {
  color: $primary-color !important;
  font-weight: bold;
  // border: 1px solid $primary-color;
  border-radius: 5px;
  padding: 5px 15px;
  margin-left: 30px;

  &:hover {
    // background-color: $primary-color;
    color: #fff;
  }
}

// Mobile styles
@media (max-width: 590px) {
  .hamburger {
    display: block;
  }

  .navLinks {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    display: none;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    &.open {
      display: flex;
      background-color: var(--background-color);
      z-index: 100;
    }
  }

  .navItem {
    width: 100%;
    text-align: center;

    a {
      display: block;
      padding: 10px;
    }
  }
}

@media (max-width: 651px) {
  .currentUser {
    display: none;
  }

  .logoutButton {
    margin-left: 8px;
  }
}
